<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="16" data-sizey="1">
      <div data-id="mm_welcome" data-view="Text" data-title="" data-text="Moving Motivators" data-moreinfo="" style="background-color:#3476DA;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="4">
      <div data-id="mm_views_coverage" data-view="Number" data-title="Views" data-moreinfo="Code Coverage" data-suffix="%" style="background-color:#96bf48;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="4">
      <div data-id="mm_controllers_coverage" data-view="Number" data-title="Controllers" data-moreinfo="Code Coverage" data-suffix="%" style="background-color:#96bf48;"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="4">
      <div data-id="mm_total_coverage" data-view="Number" data-title="Total" data-moreinfo="Code Coverage" data-suffix="%" style="background-color:#96bf48;"></div>
    </li>
  </ul>
</div>
